@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,400;0,500;1,900&family=Yellowtail&display=swap');

* {box-sizing: border-box;
margin: 0px; padding: 0px;}

body {width: 1440px;}

h5 {
font-family: 'Yellowtail';
font-size: 36px;
line-height: 65px;
letter-spacing: 0.36px;
color: #7EB693;
font-weight: 400;}

.container {
max-width: 1440px;
margin-top: 40px;
font-family: 'open sans';
}

.menu { 
display: flex;
align-items: center;
}

.logo {
margin-right: 80px;
}

.menu a {margin-left: 40px;
text-decoration: none;
font-family: 'Roboto';
font-size: 20px;
line-height: 32px;
letter-spacing: 0.36px;
color: #274C5B;
}

.menu a:first-child {
color: #7EB693;
}

.menu a:last-child {
margin-left: 60px;
}

.header {
width: 1380px; 
margin: 0px auto;
display: flex;
justify-content: space-between;
}

.main_title {
background: url('../img/IMAGE.png');
height: 913px;margin-top: 40px;
display: flex;
flex-direction: column;
justify-content: center;
}

.title {
width: 496px;
margin-left: 30px;}

.made {
font-family: 'yellowtail';
font-size: 36px;
line-height: 65px;
letter-spacing: 0.36px;
color: #7EB693;}

.welcome {
width: 500px;
font-family: 'roboto';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 84px;
letter-spacing: 0.36px;
color: #274C5B;
}

.btn {
margin-top: 30px;
background-color:#EFD372;
width: 219px; height: 82px;
border-radius: 16px;
border: 1px solid #EFD372;
}

.btn a {
text-decoration: none;
font-family: 'roboto';
font-size: 19px;
line-height: 32px;
letter-spacing: 0.36px;
color: #274C5B;}

.btn a:hover {color: #7EB693;}

.btn:active {background-color: #f8e7a8;} 

.natural_offer {
display: flex;
justify-content: space-around;
margin-top: 140px;
align-content: center;
}

.natural {
background: url('../img/IMAGEn.png');
}

.offer {
background: url('../img/offer.jpg');
}

.natural, .offer {
width: 665px; height: 378px;
display: flex;
flex-direction: column;
justify-content: center;
color: white;
}

.natural_in , .offer_in {
width: 264px;
margin-left: 55px;
} 

.natural_offer p {
font-family: 'Roboto';
font-size: 40px;
line-height: 52px;
letter-spacing: 0.36px;
}

.offer_in {
color: #274C5B;
}

.natural_in h5 {
color: white;
}

.container2 {
width: 1440px; height: 1006px;
background-color:#F9F8F8;
margin-top: 140px;
display: flex;
align-items: center;
justify-content: center;
}

.about_us {
width: 1380px;
display: flex;
justify-content: space-between;
}

.fruit_img {
width: 675px; height: 642px;
margin-right: 30px;
}

.about_us_box {
font-size: 18px;
line-height: 32px;
letter-spacing: 0.36px;
color: #525C60;
}

.believe {
margin-bottom: 22px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 58px;
letter-spacing: 0.36px;
color: #274C5B;
}

.standarts {
margin-top: 56px;
display: flex;
flex-direction: column;
}

.foods_only, .quality { 
display: flex;
}

.about_us_box h6 {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 35px;
color: #274C5B;
}

.text{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px; 
margin-top: 9px;
}

.quality {
margin-top: 25px;
}

.frame1, .frame2 {
margin-right: 20px;
}

.btn2 {
    margin-top: 30px;
    background-color:#274C5B;
    width: 199px; height: 82px;
    border-radius: 16px;
    border: 1px solid #274C5B;
    }
    

.btn2 a {
    text-decoration: none;
    font-family: 'roboto';
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color:white}
    